$color: #ff5050;

@font-face {
  font-family: font;
  src: url(/assets/fonts/plumb-regular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: font;
  src: url(/assets/fonts/plumb-bold.otf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

html {
  font-family: "font";
  font-size: 16px;
  line-height: 1.5;
}
html,
body {
  margin: 0;
  padding: 0;
}
input,
select,
textarea,
button {
  font-family: "font";
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: block;
}
input[type="file"] {
  font-size: 13px;
  margin: auto 0;
  display: flex;
  padding: 8px 0;
}
a {
  color: $color;
}
p {
  margin: 8px 0;
}
h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 16px;
}
h2 {
  font-size: 20px;
  span {
    cursor: pointer;
    background-color: #eee;
    padding: 0px 7px 3px 7px;
    border-radius: 50%;
  }
}
ol,
ul {
  padding-left: 16px;
}
textarea {
  display: block;
}
.center {
  width: calc(100% - 40px);
  margin: 0 auto;
}
.image-center {
  display: block;
  margin: 16px auto;
}
.text-center {
  text-align: center;
}
.green {
  color: #39ad3c;
}

header {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  .center {
    display: flex;
    justify-content: space-between;
    color: #fff;
    nav {
      display: flex;
      flex-grow: 1;
      a {
        color: #fff;
        padding: 16px;
        text-decoration: none;
        line-height: 1;
        cursor: pointer;
        &:last-child {
          margin-left: auto;
        }
        &:hover,
        &.nuxt-link-exact-active {
          background-color: #444;
        }
      }
    }
    .toggle-nav {
      display: none;
    }
  }
}

.content {
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  width: 100%;
  &.form-main {
    max-width: 800px;
  }
  &.form-half-width {
    width: 50%;
  }
  &.form-center {
    justify-content: center;
    margin: 0 auto;
  }
  &.form-result {
    margin: 48px auto;
    box-sizing: border-box;
    padding: 32px;
    box-shadow: 0px 0px 12px -4px #aaa;
    border-radius: 32px;
  }
  &.form-result-password-save {
    line-height: 1;
    margin: 32px auto;
  }
  &.form-result-update {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 4px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  .w100 {
    width: 100%;
  }
  .w50 {
    width: 50%;
  }
  .w25 {
    width: 25%;
  }
  .w12 {
    width: 12.5%;
  }
  h2 {
    margin: 0;
  }
  .question-level {
    width: 100%;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 12px;
  }
  .group {
    padding: 8px;
    box-sizing: border-box;
    &.button-bottom {
      display: flex;
      flex-direction: column-reverse;
    }
    input[type="radio"] {
      display: none;
      + label {
        background-color: #eee;
        padding: 12px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        border-radius: 8px;
        + .answer-text {
          display: none;
        }
      }
      &:checked {
        + label {
          background-color: $color;
          color: #fff;
          + .answer-text {
            display: block;
            width: calc(400% + 48px);
            &::before {
              content: "Рекомендации";
              font-weight: 700;
              margin-top: 20px;
              display: block;
            }
            &.answer1 {
              margin-left: calc(-100% - 16px);
            }
            &.answer2 {
              margin-left: calc(-200% - 32px);
            }
            &.answer3 {
              margin-left: calc(-300% - 48px);
            }
          }
        }
      }
    }
    .error-message {
      display: block;
      height: 0;
      font-size: 12px;
      line-height: 1.2;
    }
    label {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 700;
    }
    .input {
      width: 100%;
      height: 36px;
      padding: 8px;
      margin: 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      outline: 0;
    }
    .button {
      border: 0;
      background-color: $color;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      padding: 8px 32px;
      width: auto;
      transition: 1s;
      text-align: center;
      text-decoration: none;
      &.delete {
        background-color: #444;
      }
      &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
      }
      &:hover {
        filter: contrast(1.5);
      }
    }
    .question-draggable-list {
      margin: 16px 0;
      background-color: #eee;
      padding: 8px;
      .question-draggable {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 12px 16px;
        box-sizing: border-box;
        background-color: #fff;
        cursor: grab;
        .question-name {
          font-size: 18px;
          font-weight: 700;
        }
        &:last-child {
          border-bottom: 1px solid #ccc;
        }
      }
    }

    .tox-tinymce {
      border-radius: 8px;
    }
  }
}

.tag-list {
  margin: 8px;
  .tag {
    margin: 4px;
    a {
      padding: 4px;
      background-color: #eee;
    }
  }
}

.list-block {
  margin: 16px 8px;
  .list-item {
    margin-bottom: 16px;
    .list-item-link {
      font-size: 18px;
    }
    .list-item-delete {
      font-size: 10px;
      margin-left: 2px;
      background-color: #ccc;
      color: #fff;
      padding: 3px 6px;
      border-radius: 50%;
      cursor: pointer;
      font-weight: 700;
    }
    .list-item-text {
      line-height: 1.2;
    }
  }
}

.answers-block {
  display: flex;
  flex-wrap: wrap;
}

.result-introtext-conclusion {
  background-color: #f6f6f6;
  padding: 16px 32px;
  box-sizing: border-box;
  margin: 32px auto;
  border-left: 8px solid $color;
}
.result-margin-bottom {
  margin-bottom: 96px;
}

@media screen and (max-width: 960px) {
  .form {
    .w25 {
      width: 50%;
    }
    .w12 {
      width: 25%;
    }
    .group {
      input[type="radio"]:checked + label + .answer-text {
        width: calc(200% + 16px);
        &.answer2 {
          margin-left: 0;
        }
        &.answer3 {
          margin-left: calc(-100% - 16px);
        }
      }
    }
  }
  .form-main {
    .w25 {
      width: 25%;
    }
  }
}

@media screen and (max-width: 730px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .center {
    width: calc(100% - 20px);
  }
  header {
    .center {
      width: 100%;
      flex-direction: column-reverse;
      .toggle-nav {
        display: block;
        padding: 4px 14px;
        font-size: 28px;
        text-align: right;
      }
      nav {
        display: none;
        flex-wrap: wrap;
        &.navShow {
          display: flex;
        }
        a {
          width: 100%;
        }
      }
    }
  }
  .form {
    &.form-half-width {
      width: 100%;
    }
    &.form-result {
      padding: 12px;
    }
    .w50 {
      width: 100%;
    }
    .w25 {
      width: 50%;
    }
    .w12 {
      width: 50%;
    }
    .group {
      .button {
        padding: 8px 12px;
      }
      input[type="radio"] + label {
        padding: 8px;
      }
    }
  }
  .form-main {
    .w50 {
      width: 100%;
      order: 0;
    }
    .w25 {
      width: 50%;
      order: 1;
    }
  }
  .tag-list {
    .tag {
      display: inline-block;
    }
  }
}
